body {
    margin:0;
    padding: 0;
    font-family: arial;
    font-size: 1em;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left:0;
    padding: 1rem;
    width: 100%;
    max-height: 100px;
    height:10rem;
    background: rgb(128, 115, 7);
    color: rgb(255, 255, 255);
}
header ul {
    /* width: 75%;
    flex-grow: 7rem;
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    float: right; */
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 2rem;
    width: 100%;
    text-align: right;
    padding: 0.5rem 1rem;
}
header li {
    display: inline-block;
    margin: 0.5 rem 2rem;
    padding: 1rem
}
header li a {
    color: rgb(221, 216, 216);
    text-decoration: none;
}
header li a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.products-container {
    margin-top: 100px;
    padding: 4rem 1rem;
}
.product-header {
    width: 100%;
    text-align: center;
}
.product-header h5 {
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
}
.products-container .products {
    width: 100%;
    margin-top: 2rem;
}
.product {
    max-height: 170px;
    /* overflow: hidden; */
}
.product img {
    height: 70px;
}
table {
    width: 100%;
}
table tr {
    padding: 1rem 3rem;
    display: inline-block;
    margin-right: 10px;
    width: 100px;
    text-align: center;
}
table td {
    max-width: 100px;
    overflow: hidden;
    text-align: center;
}